
$icon-event-card-icons-going-width: 20px;
$icon-event-card-icons-going-height: 20px;
$icon-logo-width: 34px;
$icon-logo-height: 24px;

.event-card-icons-going {
  width: $icon-event-card-icons-going-width;
  height: $icon-event-card-icons-going-height;
}

.logo {
  width: $icon-logo-width;
  height: $icon-logo-height;
}

