aside.sidebar
	ul.sidebar__menu
		li
			a(href="" class="active")
				include ../../assets/svg/navigator.svg
				|Навигатор
		li
			a(href="")
				include ../../assets/svg/events.svg
				|События (beta)
		li
			a(href="")
				include ../../assets/svg/participants.svg
				|Участники
		li
			a(href="")
				include ../../assets/svg/communities.svg
				|Сообщества
		li
			a(href="")
				include ../../assets/svg/perfect-storm.svg
				|Идеальный штурм
		li
			a(href="")
				include ../../assets/svg/mutual-assistance.svg
				|Взаимопомощь
		li.disabled
			a(href="")
				include ../../assets/svg/university.svg
				|Университет
		li.disabled
			a(href="")
				include ../../assets/svg/library.svg
				|Библиотека
		li.sidebar__devider
		li
			a(href="")
				include ../../assets/svg/my-contacts.svg
				|Мои контакты
		li
			a(href="")
				include ../../assets/svg/unicorn.svg
				|Openland (чат)