.main-wrap {
	width: 100%;
	display: flex;
}

.reference {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	padding: 16px;
	background-color: #fff;
	color: #4a0a52;
	font-weight: bold;
	line-height: 22px;
	cursor: pointer;
}
