header.header
	.container
		.header__content
			.header__logo
				include ../../assets/svg/logo.svg
			.container-content.container-content--mw-864.container-content--ml-auto
				.header__content__main
					.header__input-wr
						.header__input-wr-box
							input.header__input(type="text" placeholder="Глобальный поиск")
							include ../../assets/svg/search.svg
					.header__user
						.header__user-text Василиса В.
						img(src="img/user.png" alt="user")